* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red; //got that*/ }

html {
  font-size: 62.5%;
  /*@include respond(tab-land){
		font-size: 56.25%;
	}
	@include respond(tab-port){
		font-size: 50%;
	}
	@include respond(phone){
		font-size: 30%;
	}
	
	@include respond(big-desk){
		font-size: 75%;
	}*/ }

body {
  box-sizing: border-box;
  padding: 0;
  /*@include respond(tab-port){
		padding: 0;
	}*/ }

body {
  font-family: 'K2D';
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }
  .heading-primary-main {
    letter-spacing: .5rem;
    font-size: 2.8rem;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }
    .heading-primary-main-white {
      margin-left: 10px;
      color: #fff; }
  .heading-primary-sub {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #e2e0e0; }

.btn, .btn:link, .btn:visited {
  margin-top: .9rem;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: .5rem;
  background-color: #00d1b3;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 1px 1px #009782; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 0.5px 0px 0px #009782; }

.divider {
  padding: 2rem 0 2rem 0;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: .9rem;
  color: #999b9e; }
  .divider-chev {
    position: absolute;
    width: 1.8rem;
    top: -4.1rem; }

.details {
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .details__text {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .details__text-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
    .details__text-title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .2rem; }
    .details__text-para {
      padding-top: 5rem;
      font-size: 1.5rem;
      color: #999b9e;
      text-align: center; }
    .details__text-radio-comp {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem; }
    .details__text-radio-group {
      padding: 1rem; }
    .details__text-radio-input {
      display: none; }
    .details__text-radio-label {
      cursor: pointer; }
    .details__text-radio-button {
      height: 2rem;
      width: 2rem;
      border: 2.5px solid #999b9e;
      border-radius: 50%;
      display: inline-block;
      position: relative; }
      .details__text-radio-button::after {
        content: "";
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        opacity: 0;
        transition: all .3s; }
    .details__text-radio-input:checked ~ .details__text-radio-label .details__text-radio-button::after {
      opacity: 1; }

.features {
  height: 68rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; }
  .features__title {
    font-size: 2rem;
    text-transform: uppercase; }
  .features__explain {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*&-1{
            padding: 1rem 5rem 1rem 5rem;
        }

        &-2{
            padding: 1rem 5rem 1rem 5rem;
        }

        &-3{
            padding: 1rem 5rem 1rem 5rem;
        }*/ }
    .features__explain > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 5rem 1rem 5rem;
      margin-top: 5rem; }
    .features__explain-header {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .features__explain-dash {
      font-size: 5rem;
      color: #00cab4;
      transform: skewX(30deg) translateY(-18px) translateX(5px); }
    .features__explain-para {
      font-size: 1.4rem;
      width: 24rem;
      color: #999b9e;
      text-align: center; }

.icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #00cab4;
  position: relative; }
  .icon-svg {
    position: absolute;
    width: 6rem;
    left: 4.5rem;
    fill: #fff;
    -webkit-filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5)); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(226, 226, 226, 0.4), rgba(140, 140, 140, 0.6)), url(../images/header-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.intro {
  height: 40rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafaff; }
  .intro__title {
    font-size: 2rem;
    text-transform: uppercase; }
  .intro__para {
    padding: 0 30rem 10rem 30rem;
    font-size: 1.4rem;
    color: #999b9e;
    text-align: center; }
