* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red; //got that*/ }

html {
  font-size: 62.5%;
  /*@include respond(tab-land){
		font-size: 56.25%;
	}
	@include respond(tab-port){
		font-size: 50%;
	}
	@include respond(phone){
		font-size: 30%;
	}
	
	@include respond(big-desk){
		font-size: 75%;
	}*/ }

body {
  box-sizing: border-box;
  padding: 0;
  /*@include respond(tab-port){
		padding: 0;
	}*/ }

body {
  font-family: 'K2D';
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }
  .heading-primary-main {
    letter-spacing: .5rem;
    font-size: 2.8rem;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }
    .heading-primary-main-white {
      margin-left: 10px;
      color: #fff; }
  .heading-primary-sub {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #e2e0e0; }

.btn, .btn:link, .btn:visited {
  margin-top: .9rem;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }

.btn-header, .btn-header:link, .btn-header:visited {
  border: none;
  border-radius: .5rem;
  background-color: #00d1b3;
  color: #fff; }

.btn-header:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 1px 1px #009782; }

.btn-banner {
  border-radius: .1rem;
  border: 1px solid #fff;
  background-color: #282c34;
  color: #fff;
  letter-spacing: .3rem; }
  .btn-banner:hover {
    transform: translateY(-3px); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 0.5px 0px 0px #009782; }

.divider {
  padding: 2rem 0 2rem 0;
  position: relative;
  font-size: 1.5rem;
  letter-spacing: .9rem;
  color: #999b9e; }
  .divider-chev {
    position: absolute;
    width: 1.8rem;
    top: -4.1rem; }

.banner {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(0, 220, 226, 0.4), rgba(140, 140, 140, 0.6)), url(../images/banner.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .banner__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #FFF; }
    .banner__heading-prim {
      font-size: 3.2rem;
      text-transform: uppercase;
      letter-spacing: 1rem; }
    .banner__heading-sec {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .5rem; }
  .banner__arr {
    height: 4rem;
    width: 4rem;
    background-color: #00d1b3;
    border-radius: 50%;
    position: relative; }
    .banner__arr-chev {
      height: 2rem;
      width: 2rem;
      fill: #FFF;
      position: absolute;
      left: 1rem;
      top: 1rem; }
  .banner__button {
    height: 20vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center; }

.contactus {
  background-image: linear-gradient(to right bottom, white, rgba(255, 255, 255, 0.9)), url(../images/contactus.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: canter;
  flex-wrap: wrap; }

.details {
  height: 69.5rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .details__text {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .details__text-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap; }
    .details__text-title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .2rem; }
    .details__text-para {
      padding-top: 5rem;
      font-size: 1.5rem;
      color: #999b9e;
      text-align: center; }
    .details__text-radio-comp {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem; }
    .details__text-radio-group {
      padding: 1rem; }
    .details__text-radio-input {
      display: none; }
    .details__text-radio-label {
      cursor: pointer; }
    .details__text-radio-button {
      height: 2rem;
      width: 2rem;
      border: 2.5px solid #999b9e;
      border-radius: 50%;
      display: inline-block;
      position: relative; }
      .details__text-radio-button::after {
        content: "";
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        opacity: 0;
        transition: all .3s; }
    .details__text-radio-input:checked ~ .details__text-radio-label .details__text-radio-button::after {
      opacity: 1; }

.features {
  height: 68rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff; }
  .features__title {
    font-size: 2rem;
    text-transform: uppercase; }
  .features__explain {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*&-1{
            padding: 1rem 5rem 1rem 5rem;
        }

        &-2{
            padding: 1rem 5rem 1rem 5rem;
        }

        &-3{
            padding: 1rem 5rem 1rem 5rem;
        }*/ }
    .features__explain > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 5rem 1rem 5rem;
      margin-top: 5rem; }
    .features__explain-header {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .features__explain-dash {
      font-size: 5rem;
      color: #00cab4;
      transform: skewX(30deg) translateY(-18px) translateX(5px); }
    .features__explain-para {
      font-size: 1.4rem;
      width: 24rem;
      color: #999b9e;
      text-align: center; }

.icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #00cab4;
  position: relative; }
  .icon-svg {
    position: absolute;
    width: 6rem;
    left: 4.5rem;
    fill: #fff;
    -webkit-filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5)); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(226, 226, 226, 0.4), rgba(140, 140, 140, 0.6)), url(../images/header-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.intro {
  height: 40rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafaff; }
  .intro__title {
    font-size: 2rem;
    text-transform: uppercase; }
  .intro__para {
    padding: 0 30rem 10rem 30rem;
    font-size: 1.4rem;
    color: #999b9e;
    text-align: center; }

.newsletter {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #282c34; }
  .newsletter__header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .newsletter__header-svg {
      fill: #fff;
      width: 5rem;
      height: 5rem; }
    .newsletter__header-text {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .2rem; }
  .newsletter__input {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .newsletter__input-textbox {
      margin-top: 3rem;
      margin-right: 1rem;
      width: 40rem;
      height: 5rem;
      border: 1px solid #fff;
      background-color: #282c34;
      border-radius: 3px; }
    .newsletter__input-btn {
      padding: 1.7rem 2rem;
      text-decoration: none;
      display: inline-block;
      color: #fff;
      background-color: #00d1b3;
      border: none;
      border-radius: 3px;
      font-size: 1.5rem;
      letter-spacing: .1rem;
      text-transform: uppercase; }
      .newsletter__input-btn:hover {
        background-color: #009782; }

.team {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .team__body {
    display: flex;
    justify-content: center;
    align-items: center; }
  .team__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .team__header-title {
      width: 100%;
      font-size: 2.5rem;
      letter-spacing: .2rem;
      font-weight: 600;
      color: #383838;
      text-transform: uppercase; }
  .team__invcard {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .team__invcard-img {
      height: 20rem;
      width: 20rem;
      border-radius: 50%;
      margin-bottom: 2rem; }
    .team__invcard-name {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .3rem; }
    .team__invcard-dash {
      font-size: 5rem;
      color: #00cab4;
      transform: skewX(30deg) translateY(-18px) translateX(5px);
      font-weight: 800; }
    .team__invcard-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      font-size: 1.5rem;
      color: #999b9e;
      padding-bottom: 1rem; }
    .team__invcard-links {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.link__icon {
  width: 4rem;
  height: 4rem;
  background-color: #282c34;
  border-radius: 50%;
  margin: .5rem;
  position: relative;
  transition: all .3s; }
  .link__icon-svg {
    width: 2.8rem;
    height: 2.8rem;
    fill: #fff;
    position: absolute;
    transform: translate(20%, 20%); }
  .link__icon:hover {
    background-color: #00cab4; }

.viewmore {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .viewmore__invcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    padding: 0 5rem; }
    .viewmore__invcard-hover {
      position: relative; }
      .viewmore__invcard-hover-caption {
        opacity: 0;
        position: absolute;
        transform: scale(0.5);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: .2rem;
        transition: all .5s;
        backface-visibility: hidden;
        transition: all .3s; }
        .viewmore__invcard-hover-caption-mag {
          position: absolute;
          width: 5rem;
          height: 5rem;
          fill: #fff; }
        .viewmore__invcard-hover-caption-text {
          position: absolute;
          top: 15rem;
          color: #fff; }
        .viewmore__invcard-hover-caption::before {
          content: "";
          display: inline-block;
          height: 20rem;
          width: 30rem;
          background-image: linear-gradient(to right bottom, rgba(0, 220, 226, 0.4), rgba(140, 140, 140, 0.6)); }
      .viewmore__invcard-hover-pic {
        width: 30rem; }
    .viewmore__invcard:hover .viewmore__invcard-hover-caption {
      transform: scale(1);
      opacity: 1; }
    .viewmore__invcard-header {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .3rem; }
    .viewmore__invcard-dash {
      font-size: 5rem;
      color: #00cab4;
      transform: skewX(30deg) translateY(-18px) translateX(5px);
      font-weight: 800; }
    .viewmore__invcard-text {
      width: 75%;
      text-align: center;
      font-size: 1.3rem;
      color: #999b9e; }
