$color-primary: #a8a8a8;
$color-primary-light: #e2e2e2;
$color-primary-dark: #8c8c8c;

$color-secondary: #00d1b3;
$color-secondary-dark: #009782;

$color-text-grey: #e2e0e0;
$color-text-grey-dark: #999b9e;
$color-off-white: #fafaff;